* {
    margin: 0;
    font-family: Myriad, sans-serif !important;
}
#bloc1 {
    background: black;
}
#header {
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}
#header ul {
    list-style: none;
    float: right;
}
#header ul li {
    margin: 0 20px;
    margin-top: 60px;
}
#header ul li a {
    text-decoration: none;
    color: #adadad;
    font-size: 15px;
}
#header a:hover {
    color: white;
}
#header li{
    float: left;
}
#middle {
    overflow: hidden;
}
.bulles {
    float: left;
    color: white;
    margin-top: 120px;
    margin-left: 40px;
}
.bulles li {
    line-height: 25px;
    font-size: 30px;
}
.bulles li:hover {
    color: red;
}
.middle-text {
    text-align: left;
    float: right;
    color: #cdcdcd;
    margin: 50px 150px;
    font-size: 12px;
}
.middle-text p {
    margin-top: 25px;
    line-height: 20px;
}
.middle-text h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.middle-text a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: solid 2px white;
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 25px;
    font-weight: bold;
    font-size: 15px;
}
.middle-end {
    float: right;
}



