* {
    margin: 0;
    font-family: 'MyriadPro', sans-serif !important;
}


#bloc1 {
    background-image: url(hero_bg.jpg);
    background-size: 100%;
    display: block;
}
#header {
    overflow: hidden;
    padding-left: 6%;
    padding-right: 6%; 
}
#header ul {
    list-style: none;
    float: right;
}
#header ul li {
    margin: 0 15px;
    margin-top: 55px;
}
#header ul li a {
    text-decoration: none;
    color: #adadad;
    font-size: 15px;
}
#header a:hover {
    color: white;
}
#header li{
    float: left;
}
#middle {
    overflow: hidden;
}
.bulles {
    float: left;
    color: white;
    margin-top: 200px;
    margin-left: 5%;
}
.bulles li {
    line-height: 25px;
    font-size: 30px;
}
.middle-text {
    text-align: left;
    float: right;
    color: #cdcdcd;
    margin: 90px 180px;
    background: url(bullets_bottom.png) no-repeat bottom left;
    padding-bottom: 150px;
}
.middle-text p {
    margin-top: 25px;
    line-height: 20px;
    font-size: 11px;
}
.middle-text h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.middle-text a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: solid 3px white;
    padding: 15px 35px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
}
.middle-end {
    float: right;
}
#bottom {
    overflow: hidden;
    color: white;
    text-align: left;
}
.chiffre {
    font-weight: 100;
    font-size: 100px;
}
#bottom p sup {
    font-weight: 100;
    font-size: 50px
}
.descriptif {
    color: #cdcdcd;
    font-size: 12px;
}
.left {
    float: left;
    margin-left: 120px;
    padding-top: 160px;
    background: url(bullets_top.png) no-repeat top;
    padding-bottom: 50px;
}
.middle {
    float: left;
    margin-left: 250px;
    padding-top: 160px;
    background: url(bullets_top.png) no-repeat top;
    padding-bottom: 50px;
}
.right {
    float: right;
    margin-right: 100px;
    padding-top: 160px;
    background: url(bullets_top.png) no-repeat top;
    padding-bottom: 50px;
}


#text1 {
    display: inline-block;
    float: left;
    background: #62647d;
    width: 50%;
    height: 320px;
}
#text1 h2 {
    color: white;
    padding-top: 80px;
    padding-left: 100px;
}
#text1 p {
    color: #cdcdcd;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 100px;
}
#exterior {
    background-image: url(exterior.jpg);
    background-size: 50%;
    height: 320px
}
#interior {
    background-image: url(interior.png);
    background-size: 50%;
    height: 320px;
}
#text2 {
    float: right;
    display: inline-block;
    background: #30313e;
    width: 50%;
    height: 320px; 
}
#text2 h2 {
    color: white;
    padding-top: 85px;
    padding-left: 100px;
}
#text2 p {
    color: #bdbdbe;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 100px;
}


#bloc3 {
    background: white;
    width: 100%;
    height: 150px;
    text-align: center;
}
#bloc3 h3 {
    padding-top: 20px;
    margin: auto;
    margin-top: 60px;
    background: #23242e;
    width: 350px;
    height: 40px;
    border-radius: 5px
}
#bloc3 p {
    margin-top: 20px;
    font-size: 11px;
    color: #62647d;
}
#bloc3 a{
    text-decoration: none;
    color: white;
}


#bloc4 {
    text-align: center;
    background: #62647d;
    width: 100%;
    height: 80px;
    padding-top: 20px;
}

